
<div class="title">
    <h1>Test Doctrine Metadata</h1>
    <p class="lead">Test pour le développement du Bundle destiné à ForestAdmin</p>
</div>
<div class="forest">
    {{ dump(metadata) }}
    {{ dump(metadata['AppBundle_Entity_Operation']) }}
    {{ dump(metadata['AppBundle_Entity_Location']) }}
    {{ dump(collections) }}
    {{ dump(collections['AppBundle\\Entity\\Operation']) }}
    {{ dump(collections['AppBundle\\Entity\\Location']) }}
    {{ dump(collections['AppBundle\\Entity\\Operation'].getRelationships) }}
    {{ dump(collections['AppBundle\\Entity\\Location'].getRelationships) }}
    {{ dump(apimap) }}
</div>