
<div class="title">
    <h1>Test Doctrine Metadata</h1>
    <p class="lead">Test pour le développement du Bundle destiné à ForestAdmin</p>
</div>
<div class="forest">
    {{ dump(metadata) }}
    {{ dump(metadata['AppBundle_Entity_Billing']) }}
    {{ dump(metadata['AppBundle_Entity_User']) }}
    {{ dump(metadata['AppBundle_Entity_Asset']) }}
    {{ dump(metadata['AppBundle_Entity_Address']) }}
    {{ dump(metadata['AppBundle_Entity_Professional']) }}
    {{ dump(metadata['AppBundle_Entity_Skill']) }}
    {{ dump(metadata['AppBundle_Entity_Operation']) }}
    {{ dump(collections) }}
    {{ dump(collections['AppBundle\\Entity\\User']) }}
    {{ dump(collections['professional_skills']) }}
    {{ dump(apimap) }}
</div>