
<div class="title">
    <h1>Test Doctrine Metadata</h1>
    <p class="lead">Test pour le développement du Bundle destiné à ForestAdmin</p>
</div>
<div class="forest">
    {{ dump(metadata) }}
    {{ dump(metadata['AppBundle_Entity_Billing']) }}
    {{ dump(metadata['AppBundle_Entity_User']) }}
    {{ dump(metadata['AppBundle_Entity_Group']) }}
    {{ dump(metadata['AppBundle_Entity_Address']) }}
    {{ dump(apimap) }}
</div>